<a href="https://colab.research.google.com/github/hyunalim/KDT_DATA_Analysis/blob/main/6%EC%A3%BC%EC%B0%A8_SQL_%EC%8B%A4%EC%8A%B5/6_3%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

주피터 SQL 엔진 설정

In [1]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.47
%load_ext sql
# ID와 PW를 자신의 환경에 맞게 수정
%sql postgresql://guest:Guest1234@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

Collecting ipython-sql==0.4.1
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Collecting prettytable<1 (from ipython-sql==0.4.1)
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (2.0.23)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.4.4)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (67.7.2)
Collecting jedi>=0.16 (from ipython>=1.0->ipython-sql==0.4.1)
  Downloading jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 6.3 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.43)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.0.2)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.12)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13696 sha256=0fba34e9c4564292cbbf34b0094a4c8176e0362dc45162cfaed21b6f96606781
  Stored in directory: /root/.cache/pip/wheels/25/4b/07/18c5d92824315576e478206ea69df34a9e31958f6143eb0e31
Successfully built prettytable
Installing collected packages: prettytable, jedi, ipython-sql
  Attempting uninstall: prettytable
    Found existing installation: prettytable 3.9.0
    Uninstalling prettytable-3.9.0:
      Successfully uninstalled prettytable-3.9.0
  Attempting uninstall: ipython-sql
    Found existing installation: ipython-sql 0.5.0
    Uninstalling ipython-sql-0.5.0:
      Successfully uninstalled ipython-sql-0.5.0
Successfully installed ipython-sql-0.4.1 jedi-0.19.1 prettytable-0.7.2
Collecting SQLAlchemy==1.4.47
  Downloading SQLAlchemy-1.4.47-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 6.4 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.47) (3.0.2)
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.23
    Uninstalling SQLAlchemy-2.0.23:
      Successfully uninstalled SQLAlchemy-2.0.23
Successfully installed SQLAlchemy-1.4.47

### 채널별 월 매출액 테이블 만들기 - 먼저 유일한 사용자 수부터 세보기

In [3]:
%%sql

SELECT LEFT(ts,7) as month, usc.channel, COUNT(DISTINCT userid) uniqueUsers
FROM raw_data.user_session_channel usc
JOIN raw_data.session_timestamp t ON t.sessionid = usc.sessionid
GROUP BY 1,2
ORDER BY 1,2;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-05', 'Facebook', 247),
 ('2019-05', 'Google', 253),
 ('2019-05', 'Instagram', 234),
 ('2019-05', 'Naver', 237),
 ('2019-05', 'Organic', 238),
 ('2019-05', 'Youtube', 244),
 ('2019-06', 'Facebook', 414),
 ('2019-06', 'Google', 412),
 ('2019-06', 'Instagram', 410),
 ('2019-06', 'Naver', 398),
 ('2019-06', 'Organic', 416),
 ('2019-06', 'Youtube', 400),
 ('2019-07', 'Facebook', 558),
 ('2019-07', 'Google', 556),
 ('2019-07', 'Instagram', 567),
 ('2019-07', 'Naver', 553),
 ('2019-07', 'Organic', 557),
 ('2019-07', 'Youtube', 564),
 ('2019-08', 'Facebook', 611),
 ('2019-08', 'Google', 610),
 ('2019-08', 'Instagram', 621),
 ('2019-08', 'Naver', 626),
 ('2019-08', 'Organic', 608),
 ('2019-08', 'Youtube', 614),
 ('2019-09', 'Facebook', 597),
 ('2019-09', 'Google', 599),
 ('2019-09', 'Instagram', 588),
 ('2019-09', 'Naver', 592),
 ('2019-09', 'Organic', 592),
 ('2019-09', 'Youtube', 588),
 ('2019-10', 'Facebook', 698),
 ('2019-10', 'Google', 699),
 ('2019-10', 'Instagram', 707),
 ('2019-10', 'Naver', 713),
 ('2019-10', 'Organic', 709),
 ('2019-10', 'Youtube', 705),
 ('2019-11', 'Facebook', 688),
 ('2019-11', 'Google', 688),
 ('2019-11', 'Instagram', 669),
 ('2019-11', 'Naver', 667),
 ('2019-11', 'Organic', 677),
 ('2019-11', 'Youtube', 677)]

### 위의 테이블에 매출 정보 합치기 - 세 개의 테이블 JOIN
복잡한 JOIN시 먼저 JOIN 전략 수립


*   세 개의 테이블 모두 sessionid를 기반으로 조인
*   user_session_channel과 session_timestamp는 일대일로 조인 가능 : INNER JOIN
*   session_transaction의 경우 모든 sessionid가 존재하는 것은 아님 (LEFT JOIN, FROM 테이블에는 user_session_channel 혹은 session_timestamp가 되어야 함

### 1) usc, t 테이블 INNER JOIN 하고, 거기에 st 테이블 LEFT JOIN - month, channel, uniqueUsers 출력

In [4]:
%%sql

SELECT LEFT(ts,7) as month, usc.channel, COUNT(DISTINCT userid) uniqueUsers
FROM raw_data.user_session_channel usc
JOIN raw_data.session_timestamp t ON t.sessionid = usc.sessionid
LEFT JOIN raw_data.session_transaction st ON st.sessionid = usc. sessionid
GROUP BY 1,2
ORDER BY 1,2;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-05', 'Facebook', 247),
 ('2019-05', 'Google', 253),
 ('2019-05', 'Instagram', 234),
 ('2019-05', 'Naver', 237),
 ('2019-05', 'Organic', 238),
 ('2019-05', 'Youtube', 244),
 ('2019-06', 'Facebook', 414),
 ('2019-06', 'Google', 412),
 ('2019-06', 'Instagram', 410),
 ('2019-06', 'Naver', 398),
 ('2019-06', 'Organic', 416),
 ('2019-06', 'Youtube', 400),
 ('2019-07', 'Facebook', 558),
 ('2019-07', 'Google', 556),
 ('2019-07', 'Instagram', 567),
 ('2019-07', 'Naver', 553),
 ('2019-07', 'Organic', 557),
 ('2019-07', 'Youtube', 564),
 ('2019-08', 'Facebook', 611),
 ('2019-08', 'Google', 610),
 ('2019-08', 'Instagram', 621),
 ('2019-08', 'Naver', 626),
 ('2019-08', 'Organic', 608),
 ('2019-08', 'Youtube', 614),
 ('2019-09', 'Facebook', 597),
 ('2019-09', 'Google', 599),
 ('2019-09', 'Instagram', 588),
 ('2019-09', 'Naver', 592),
 ('2019-09', 'Organic', 592),
 ('2019-09', 'Youtube', 588),
 ('2019-10', 'Facebook', 698),
 ('2019-10', 'Google', 699),
 ('2019-10', 'Instagram', 707),
 ('2019-10', 'Naver', 713),
 ('2019-10', 'Organic', 709),
 ('2019-10', 'Youtube', 705),
 ('2019-11', 'Facebook', 688),
 ('2019-11', 'Google', 688),
 ('2019-11', 'Instagram', 669),
 ('2019-11', 'Naver', 667),
 ('2019-11', 'Organic', 677),
 ('2019-11', 'Youtube', 677)]

### 2) 세 개의 테이블 조인한 후 paiduser 리턴

In [6]:
%%sql

SELECT LEFT(ts,7) as month, usc.channel,
       COUNT(DISTINCT userid) uniqueUsers,
       COUNT(DISTINCT CASE WHEN amount > 0 THEN usc.userid END) paidUsers -- amount 값이 0보다 큰 경우인 userid 중복없이 출력
FROM raw_data.user_session_channel usc
JOIN raw_data.session_timestamp t ON t.sessionid = usc.sessionid
LEFT JOIN raw_data.session_transaction st ON st.sessionid = usc. sessionid
GROUP BY 1,2
ORDER BY 1,2;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-05', 'Facebook', 247, 14),
 ('2019-05', 'Google', 253, 10),
 ('2019-05', 'Instagram', 234, 11),
 ('2019-05', 'Naver', 237, 11),
 ('2019-05', 'Organic', 238, 17),
 ('2019-05', 'Youtube', 244, 9),
 ('2019-06', 'Facebook', 414, 22),
 ('2019-06', 'Google', 412, 13),
 ('2019-06', 'Instagram', 410, 21),
 ('2019-06', 'Naver', 398, 15),
 ('2019-06', 'Organic', 416, 14),
 ('2019-06', 'Youtube', 400, 17),
 ('2019-07', 'Facebook', 558, 32),
 ('2019-07', 'Google', 556, 21),
 ('2019-07', 'Instagram', 567, 24),
 ('2019-07', 'Naver', 553, 19),
 ('2019-07', 'Organic', 557, 22),
 ('2019-07', 'Youtube', 564, 36),
 ('2019-08', 'Facebook', 611, 18),
 ('2019-08', 'Google', 610, 27),
 ('2019-08', 'Instagram', 621, 28),
 ('2019-08', 'Naver', 626, 22),
 ('2019-08', 'Organic', 608, 26),
 ('2019-08', 'Youtube', 614, 18),
 ('2019-09', 'Facebook', 597, 27),
 ('2019-09', 'Google', 599, 25),
 ('2019-09', 'Instagram', 588, 20),
 ('2019-09', 'Naver', 592, 21),
 ('2019-09', 'Organic', 592, 22),
 ('2019-09', 'Youtube', 588, 15),
 ('2019-10', 'Facebook', 698, 29),
 ('2019-10', 'Google', 699, 30),
 ('2019-10', 'Instagram', 707, 33),
 ('2019-10', 'Naver', 713, 32),
 ('2019-10', 'Organic', 709, 31),
 ('2019-10', 'Youtube', 705, 34),
 ('2019-11', 'Facebook', 688, 25),
 ('2019-11', 'Google', 688, 26),
 ('2019-11', 'Instagram', 669, 25),
 ('2019-11', 'Naver', 667, 26),
 ('2019-11', 'Organic', 677, 34),
 ('2019-11', 'Youtube', 677, 45)]

### ConversionRate 추가하기 - paidUsers/uniqueUsers
정수/정수 = 0 이 나오기 때문에 분자,분모 중 하나의 데이터를 실수형으로 바꿔줘야 함.
ROUND(paidUsers*100.0/NULLIF(uniqueUsers,0),2) AS conversionRate
- 0으로 나누는 경우 divide by 0 에러 발생
- 이를 방지하기 위해 uniqueUsers의 값이 0이면 Null이라고 표시. 아니라면, 그냥 리턴.
- Null이 사칙연산에 들어가면 모든 값이 Null이 되기때문

In [7]:
%%sql

SELECT LEFT(ts,7) as month, usc.channel,
       COUNT(DISTINCT userid) uniqueUsers, -- 중복없는 사용자id 갯수
       COUNT(DISTINCT CASE WHEN amount > 0 THEN usc.userid END) paidUsers, -- amount가 0 이상인 userid 중복없이 리턴
       ROUND(paidUsers::float*100/NULLIF(uniqueUsers,0),2) conversionRate, -- 정수를 float 형태로 바꾸고 계산
       SUM(amount) grossRevenue,
       SUM(CASE WHEN refunded is False THEN amount END) netRevenue  -- refund가 false인 경우(환불되지 않은 것)만 더해주기
FROM raw_data.user_session_channel usc
JOIN raw_data.session_timestamp t ON t.sessionid = usc.sessionid
LEFT JOIN raw_data.session_transaction st ON st.sessionid = usc. sessionid -- usc, t 테이블 INNER JOIN 후 st테이블 left join
GROUP BY 1,2
ORDER BY 1,2;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-05', 'Facebook', 247, 14, 5.67, 1199, 997),
 ('2019-05', 'Google', 253, 10, 3.95, 580, 580),
 ('2019-05', 'Instagram', 234, 11, 4.7, 959, 770),
 ('2019-05', 'Naver', 237, 11, 4.64, 867, 844),
 ('2019-05', 'Organic', 238, 17, 7.14, 1846, 1571),
 ('2019-05', 'Youtube', 244, 9, 3.69, 529, 529),
 ('2019-06', 'Facebook', 414, 22, 5.31, 1578, 1578),
 ('2019-06', 'Google', 412, 13, 3.16, 947, 947),
 ('2019-06', 'Instagram', 410, 21, 5.12, 1462, 1418),
 ('2019-06', 'Naver', 398, 15, 3.77, 1090, 1090),
 ('2019-06', 'Organic', 416, 14, 3.37, 1129, 940),
 ('2019-06', 'Youtube', 400, 17, 4.25, 1042, 1042),
 ('2019-07', 'Facebook', 558, 32, 5.73, 2222, 2144),
 ('2019-07', 'Google', 556, 21, 3.78, 1558, 1385),
 ('2019-07', 'Instagram', 567, 24, 4.23, 1896, 1766),
 ('2019-07', 'Naver', 553, 19, 3.44, 1547, 1547),
 ('2019-07', 'Organic', 557, 22, 3.95, 1600, 1600),
 ('2019-07', 'Youtube', 564, 36, 6.38, 2210, 2037),
 ('2019-08', 'Facebook', 611, 18, 2.95, 1009, 1009),
 ('2019-08', 'Google', 610, 27, 4.43, 2210, 1894),
 ('2019-08', 'Instagram', 621, 28, 4.51, 2129, 2001),
 ('2019-08', 'Naver', 626, 22, 3.51, 1829, 1551),
 ('2019-08', 'Organic', 608, 26, 4.28, 1643, 1606),
 ('2019-08', 'Youtube', 614, 18, 2.93, 987, 950),
 ('2019-09', 'Facebook', 597, 27, 4.52, 2270, 2270),
 ('2019-09', 'Google', 599, 25, 4.17, 1872, 1691),
 ('2019-09', 'Instagram', 588, 20, 3.4, 1260, 1122),
 ('2019-09', 'Naver', 592, 21, 3.55, 1996, 1996),
 ('2019-09', 'Organic', 592, 22, 3.72, 1267, 1267),
 ('2019-09', 'Youtube', 588, 15, 2.55, 1301, 1301),
 ('2019-10', 'Facebook', 698, 29, 4.15, 1650, 1641),
 ('2019-10', 'Google', 699, 30, 4.29, 2150, 2098),
 ('2019-10', 'Instagram', 707, 33, 4.67, 2568, 2395),
 ('2019-10', 'Naver', 713, 32, 4.49, 2695, 2695),
 ('2019-10', 'Organic', 709, 31, 4.37, 2762, 2608),
 ('2019-10', 'Youtube', 705, 34, 4.82, 2492, 2319),
 ('2019-11', 'Facebook', 688, 25, 3.63, 1678, 1678),
 ('2019-11', 'Google', 688, 26, 3.78, 2286, 2235),
 ('2019-11', 'Instagram', 669, 25, 3.74, 2116, 2116),
 ('2019-11', 'Naver', 667, 26, 3.9, 2234, 1987),
 ('2019-11', 'Organic', 677, 34, 5.02, 2626, 2255),
 ('2019-11', 'Youtube', 677, 45, 6.65, 3532, 3331)]

### 최종답안

In [ ]:
%%sql

DROP TABLE IF EXISTS adhoc.hyuna_monthly_channel_summary; -- 새로운 테이블로 저장
CREATE TABLE adhoc.hyuna_monthly_channel_summary AS
  SELECT LEFT(ts,7) as month, usc.channel,
        COUNT(DISTINCT userid) uniqueUsers, -- 중복없는 사용자id 갯수
        COUNT(DISTINCT CASE WHEN amount > 0 THEN usc.userid END) paidUsers, -- amount가 0 이상인 userid 중복없이 리턴
        ROUND(paidUsers::float*100/NULLIF(uniqueUsers,0),2) conversionRate, -- 정수를 float 형태로 바꾸고 계산
        SUM(amount) grossRevenue,
        SUM(CASE WHEN refunded is False THEN amount END) netRevenue  -- refund가 false인 경우(환불되지 않은 것)만 더해주기
  FROM raw_data.user_session_channel usc
  JOIN raw_data.session_timestamp t ON t.sessionid = usc.sessionid
  LEFT JOIN raw_data.session_transaction st ON st.sessionid = usc. sessionid -- usc, t 테이블 INNER JOIN 후 st테이블 left join
  GROUP BY 1,2
  ORDER BY 1,2;